mixin add_jumbotron(title)
  div.jumbotron.jumbotron-fluid
    div.container
      if title
        h1.display-4= 'Qoonet: ' +title
      else
        h1.display-4 Qoonet
      p.lead An Open Source IoT Control System
