div.card
  h3.card-header Device control
  img.card-img-top(src="images/node-red-hexagon.png", alt="NodeRed")
  div.card-body
    h5.card-title QooNet controller on BeagleBone Black
    p.card-text.
      Building the Qoonet device controller. This is the first tutorial 
      to use NodeRed.
    a.btn.btn-primary(href="#") Read Tutorial
