+make_card(
  'A test device',
  'Test Device',
  'QooNet is for controlling hardware, so here we build a small test device to allow us to experiment with Qoonet\'s capabilities.',
  'images/demoBreadBoard.png',
  '#'
  )
