extends header_footer_main

include includes/mixin_jumbotron.pug

block main_content
  main(role="main")
    +add_jumbotron('Contact')
    section(id="contact")
      div.container
        h3.text-center.text-uppercase contact us
        p.text-center.w-75.m-auto.
          We are an organisation whose primary tasks are maintenance and development 
          of the Qoonet control architecture. Please use the following to get in 
          touch.

        div.row.justify-content-center
          div.col-sm-12.col-md-6.col-lg-3.my-5
            div.card.border-0
              div.card-body.text-center
                i.fas.fa-at.fa-5x.mb-3(aria-hidden="true")
                h4.text-uppercase.mb-5 mail
                p
                  a(href='mailto:info@thequantumguys.se') info@thequantumguys.se
          div.col-sm-12.col-md-6.col-lg-3.my-5
            div.card.border-0
              div.card-body.text-center
                i.fab.fa-github.fa-5x.mb-3(aria-hidden="true")
                h4.text-uppercase.mb-5 projects
                p
                  a(href='https://github.com/QooNet') https://github.com/QooNet
          div.col-sm-12.col-md-6.col-lg-3.my-5
            div.card.border-0
              div.card-body.text-center
                i.fa.fa-globe.fa-5x.mb-3(aria-hidden="true")
                h4.text-uppercase.mb-5 web
                p
                  a(href='http://www.qoonet.org') http://www.qoonet.org
          div.col-sm-12.col-md-6.col-lg-3.my-5
            div.card.border-0
              div.card-body.text-center
                i.fab.fa-github.fa-5x.mb-3(aria-hidden="true")
                h4.text-uppercase.mb-5 source
                p
                  a(href='https://github.com/stevemolloy/website_for_qoo') Source code for this site
