extends layout_front

block content
  div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
    header.masthead.mb-auto
      div.inner
        h3.masthead-brand QooNet
        nav.nav.nav-masthead.justify-content-center
          a.nav-link(href="/") Home
          a.nav-link(href="read_more") Read More
          a.nav-link(href="features") Features
          a.nav-link(href="tutorial") Tutorials
          a.nav-link(href="contact") Contact

    block main_content


    footer.mastfoot.mt-auto
      div.inner
        p Design by 
          a(href='https://twitter.com/sdmolloy') @sdmolloy
