extends layout_main

block content
  header
    nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
      a.navbar-brand(href="/") Qoonet
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse.navbar-collapse(id="navbarCollapse")
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="#") Read more
          li.nav-item
            a.nav-link(href="#") Features
          li.nav-item
            a.nav-link(href="#") Contact

  block main_content

  footer.container
    p.float-right Design by 
      a(href='https://twitter.com/sdmolloy') @sdmolloy
