extends header_footer_front

block main_content
  main.inner.cover
    p.lead.
      Digital control is at the heart of all modern R&D activities, 
      yet it remains opaque and excessively complex to all but the most 
      expert developers.
    p.lead.
      QooNet takes it out of the hands of the experts.
    p.lead.
      Qoonet gives controls back to you.
    p.lead
      a.btn.btn-lg.btn-secondary(href="read_more") Read more
