extends header_footer_main

block main_content
  main(role="main")
    div.jumbotron.jumbotron-fluid
      div.container
        h1.display-4 Digital control with Qoonet
        p.lead Blah blah blah
        
    div.container.marketing
      div.row.featurette
        div.col-md-7
          h2.featurette-heading First featurette heading. 
            span.text-muted It'll blow your mind.
          p.lead.
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula 
            porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque 
            nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        div.col-md-5
          img.featurette-image.img-fluid.mx-auto(data-src="holder.js/300x300/auto", alt="Generic placeholder image")

      hr.featurette-divider

      div.row.featurette
        div.col-md-7.order-md-2
          h2.featurette-heading Oh yeah, it's that good. 
            span.text-muted See for yourself.
          p.lead.
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula 
            porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque 
            nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        div.col-md-5
          img.featurette-image.img-fluid.mx-auto(data-src="holder.js/300x300/auto", alt="Generic placeholder image")
