extends header_footer_main

block main_content
  div.container
    div.card-columns
      include includes/tutorial/beaglebone_prep.pug
      include includes/tutorial/shiftrio.pug
      include includes/tutorial/test_device.pug
      include includes/tutorial/nodered_controller.pug
