extends header_footer_main

include includes/tutorial/mixin_newcard.pug
include includes/mixin_jumbotron.pug

block main_content
  main(role="main")
    +add_jumbotron('Tutorials')
    div.container
      div.card-columns
        include includes/tutorial/raspberrypi_prep.pug
        include includes/tutorial/shiftrio.pug
        include includes/tutorial/test_device.pug
        include includes/tutorial/nodered_controller.pug
        include includes/tutorial/nodered_webapp.pug
